<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>About</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "css/styles_about.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/main.css" %}'>
</head>

<body>
    <div id='wrapper'>
        {% include 'header.html' %}
        <div class="media body">
            <div class="media-body font-weight-bold align-self-center mr-3">
                <p>A Wick & A Nod was founded by Jenna Krukowski in 2019. Jenna is the creative genius behind all of our
                    candle
                    scents and designs. Each one of our candles are hand-made with the highest level of craftsmanship.
                    At A
                    Wick & A
                    Nod our goal is to provide our customers with one of a kind candles that bring fresh scents directly
                    to
                    your
                    nose. </p>
            </div>
            <img src="{% static 'img/jenna_link.jfif' %}" class="ml-3 body_img" alt="...">
        </div>
        <div class='container bottom_img'>
            <img src='{% static "img/wick_logo.png" %}' class='about-logo'>
        </div>
        {% include 'footer.html' %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>