<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Social</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "css/styles_social.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/main.css" %}'>
</head>

<body>
    <div id='wrapper'>
        {% include 'header.html' %}
        <div class="container">
            <div class="row">
                <div class="col events_connect">
                    <h1>Upcoming Events</h1>
                    <table>
                        <tr>
                            <th>Event</th>
                            <th>Date & Time</th>
                            <th>Location</th>
                        </tr>
                        {% for event in events %}
                        <tr>
                            <td>{{event.name}}</td>
                            <td>{{event.date}}</td>
                            <td>{{event.location}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <h3>Connect with us!</h3>
                    <ul>
                        <li><img class='icon' src="{% static 'img/fbicon.png' %}" alt="FB logo"> <a
                                href='https://facebook.com/awickandanodcandleco'>awickandanodcandleco</a></li>
                        <li><img class="icon" src="{% static 'img/instaicon.png' %}" alt="Insta logo"> <a
                                href='https://instagram.com/awickandanodcandleco'>awickandanodcandleco</a></li>
                        <li><img class="icon" src="{% static 'img/etsyicon.png' %}" alt="Etsy logo"> <a
                                href='https://etsy.com/shop/AWickAndANodCandleCo'>AWickAndANodCandleCo</a></li>
                    </ul>
                    <img src='{% static "img/tonic_gin.jpg" %}' class='social_img'>
                </div>
                <div class="col">
                    <h1>Blog</h1>
                    {% for blog in blogs %}
                    <h5>{{blog.title}}</h5>
                    <p>{{blog.text}}</p>
                    <p>by A Wick & a Nod @ {{blog.created_at}}</p>
                    ----------------------------------------------------------------------<br>
                    {% for comment in blog.comments.all %}
                    <p>{{comment.text}}</p>
                    <p>by {{comment.user.first_name}} @ {{comment.created_at}}</p>
                    ----------------------------------------------------------------------<br>
                    {% endfor %}
                    {% if not request.session.user_id == null %}
                    Post a comment<br>
                    <form action='/social/{{blog.id}}/comment' method='POST'>
                        {% csrf_token %}
                        <input type='text' name='comment'><br><br>
                        <input type='submit' value='Post'><br><br>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    </div>
    {% include 'footer.html' %}
</body>

</html>