#wrapper{
    background-color: #747474;
    color: white
}
.social_img{
    width: 200px;
    margin-bottom: 50px;
}
.events_connect a{
    color: white;
}

#logo{
    height: 80px;
    margin-right: 60px;
}

footer {
    background-color: black;
    display: flex;
    padding: 20px;
    color: white;
}
.foot_center{
    margin-left: 300px;
}
.icon {
    height: auto;
    width: 30px;
}
header {
    width:100%;
    background-color: black;
    height:90px;
}