<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Wick and a Nod</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "css/main.css" %}'>
</head>
<body style="min-height: 98vh;">
    <div id="wrapper">
    {% include "header.html" %}
        <div class="row">
            <div class="col"></div>
            <ul class="list-unstyled col-6 mt-2" style="background-color: white;">
                {% for item in checkout_items %}
                <li class="media border border-dark">
                    {% load static %}
                    <img src="{% static 'img/' %}{{item.candle.image}}" class="mr-3 img-thumbnail" alt="{{item.candle.name}}" style="width:100px">
                    <div class="media-body">
                        <h6 class="mt-1">{{item.candle.name}}</h6>
                        <div class="row"> 
                            <form action="/shop/cart/update" method="POST" class="form-inline mb-2 cartform col-10">
                                {% csrf_token %}
                                <input type="hidden" name="candle_id" value="{{item.candle.id}}">
                                <label class="my-1 mr-2" for="quantity">Quantity:</label>
                                <select class="custom-select mr-sm-2" name="quantity">
                                    <option selected value="{{item.quantity}}">{{item.quantity}}</option>
                                    <option value = "0">0 (remove)</option>
                                    <option value = "1">1</option>
                                    <option value = "2">2</option>
                                    <option value = "3">3</option>
                                    <option value = "4">4</option>
                                    <option value = "5">5</option>
                                    <option value = "6">6</option>
                                    <option value = "7">7</option>
                                    <option value = "8">8</option>
                                    <option value = "9">9</option>
                                    <option value = "10">10</option>
                                </select>
                            </form>
                            <p class="col float-right">Unit Price: ${{item.candle.price}}</p>
                        </div>
                    </div>
                </li>
                {% empty %}
                    <h3>Your cart is empty!</h3>
                {% endfor %}
            </ul>
            <div class="col"></div>
        </div>
        
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div id="subtotal" class="float-right">
                    <p>Your total is: ${{subtotal|floatformat:2}}</p>
                </div>
                <a href="/shop/checkout" class="btn btn-primary">Checkout</a>
                <a href="/shop" class="btn btn-secondary">Back to Shop</a>
            </div>
            <div class="col"></div>
        </div>
        
    </div>
{% include "footer.html" %}
    
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalCenterTitle">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <P>Cart updated!</P>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('.custom-select').change(function() {
                $(this.form).submit()
            });

            // $('.cartform').submit(function(e) {
            //     e.preventDefault();
            //     $.ajax({
            //         url: '/shop/cart/update',
            //         method: 'post',
            //         data: $(this).serialize(),
            //         success: function(serverResponse) {
            //             $('#subtotal').html(serverResponse)
            //             $('#updateModal').modal()
            //         }
            //     })
            // });
        });
    </script>

</body>
</html>