{% load static %}
<footer>
    <div class='container'>
        <img class='icon' src="{% static 'img/fbicon.png' %}" alt="FB logo">
        <a class="text-decoration-none"
            href="https://facebook.com/awickandanodcandleco">awickandanodcandleco</a> |
        <img class="icon" src="{% static 'img/instagram_logo.png' %}" alt="Insta logo">
        <a class="text-decoration-none"
            href="https://instagram.com/awickandanodcandleco">awickandanodcandleco</a> |
        <img class="icon" src="{% static 'img/etsy_logo.png' %}" alt="Etsy logo">
        <a class="text-decoration-none"
            href="https://etsy.com/shop/AWickAndANodCandleCo">AWickAndANodCandleCo</a>
    </div>
</footer>