{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg">
    <img id='logo' src="{% static 'img/WickNod_FB_820x312_skin.png' %}" alt="my image">
    <a class="navbar-brand text-white" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-white" href="/shop" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Candles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/shop">Speak Easy Sips</a>
                    <a class="dropdown-item" href="#">Holiday Line</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/social">Social</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" aria-disabled="true"></a>
            </li>
        </ul>
        {% if request.session.user_id %}
        <a href="#" class="text-white">Cart |</a>
        {% endif %}
        {% if not request.session.user_id %}
        <a class="btn btn-light" href="/login" role="button">Login</a>
        {% else %}
        <span class='text-white'> Welcome, </span> <a href="/login/user_page" class="text-white">
            {{request.session.user_name}}!</a>
        {% endif %}
    </div>
</nav>